body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/background-logo.svg");
  background-position: 47% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 22px;
}

@media only screen and (max-width: 600px) {

  body {
    background-position: 48% 50%;
    background-size: cover;
  }
}

#header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-right: 8px;
  width: calc(100% - 8px);
  top: 0;
  background: white;
  white-space: nowrap;
  border-bottom: 1px solid #eeeeee;
}

h1 {
  margin: 16px;
  font-size: 32px;
}

#header img {
  height: 40px;
  margin-bottom: -8px;
}

em {
  font-weight: bold;
  font-style: normal;
  border-bottom: 5px solid orange;
}

.statement {
  max-width: 600px;
  padding: 10vh 32px 22vh 32px;
  margin: 0 auto;
  line-height: 2em;
}

ul {
  text-align: left;
  max-width: 360px;
  margin: 32px auto;
}

.header-link
{
  text-decoration: none;
  color: black;
  text-align: center;
  display: inline-block;
  width: 64px;
  margin-top: 12px;
  font-size: 12px;
}

#header .header-link img
{
  height: 24px;
  margin-bottom: 1px;
}
